@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


body {
    font-family: 'Abel', sans-serif ;
    font-size: 20px;
    
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  h1{
    margin-bottom: 40px;
  }
  .premierTitre{
    text-align: center;
    margin: 0 !important;
    font-family: 'Abel', sans-serif ;
    font-size: 30px;
  }
  .deuxiemeTitre{
    text-align: center;
    margin: 0 !important;
    font-family: 'Abel', sans-serif ;
    font-size: 25px;
  }
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
.tab {
    display: none;
    
}  

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

.elementDispose{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    width: 400px ;
}

.elementDispose label{
    margin-right: 20px;
}
.elementDispose0{
    display: flex;
    flex-direction: row; 
    margin-left: 25px;
}

.c0{
    font-family: 'Abel', sans-serif ;
    font-size: 20px;
}

.tab p{
    margin-left: 25px;
}
.tab textarea{
    margin-left: 40px;
}

/* .check-group{
    background: #fff;
    max-width: 13rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 10, 0.2);
  } */


.check-group{
    counter-reset: total;
    counter-reset: checked;
}

.check-group > * + * {
  margin-top: 0.75rem;
}
.check-group .checkbox {
  counter-increment: total;
}
.check-group input[type=checkbox]:checked {
  counter-increment: checked;
}
.check-group__result {
  font-weight: bold;
  padding-top: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.check-group__result:after {
  content: counter(checked) " / " counter(total);
  padding-left: 1ch;
}

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.checkbox__input {
  position: absolute;
  width: 1.375em;
  height: 1.375em;
  opacity: 0;
  cursor: pointer;
}
.checkbox__input:checked + .checkbox__icon .tick {
  stroke-dashoffset: 0;
}
.checkbox__icon {
  width: 1.375em;
  height: 1.375em;
  flex-shrink: 0;
  overflow: visible;
}
.checkbox__icon .tick {
  stroke-dasharray: 20px;
  stroke-dashoffset: 20px;
  transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox__label {
  margin-left: 0.5em;
}
